* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.article {
    margin: 0 auto;
    padding-top: 1%;
}

.image {
    width: 800px;
    height: 600px;
    margin: 3%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

/* .btn {
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
    background: black;
    box-shadow: -4px 11px 48px 57px rgba(244, 54, 0, 0.2);
} */

.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin-top: 6%;
    border: 0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.gradient-button:hover {
    background-position: right center;
    box-shadow: 0px 2px 8px 27px rgba(52, 143, 214, 0.21);
}